/*Ubuntu font*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/*background color and font change*/
body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #D4E7F6

}
/*Set font size and center for h1 and h2*/
header h1 {
	font-size: 50px;
	text-align: center;
}
header h2 {
	font-size: 28px;
	text-align: center;
}

.wrapper {
	width: 100%;
	margin: auto;
}
header {
	height: 140px;
}

.group {
	display: flex;
	flex-direction: column;
}

.item {
	flex: 1;
	margin: 10px;
	align-items: flex-start;
}


.group form textarea{
	width: 100%;
}

.group form label {
	display: block;
	margin-bottom: 5px
}
img {
	width: 100%;
}

.profile{
	margin-top: 25px;
}
.map {
	display: flex;
}






/*footer section*/
footer {
	height: 84px;
	padding-top: 20px;
	background-color: #332833;
	}
footer p {
	text-align: center;
	color: white;
}

@media all and (min-width: 800px) {
	.wrapper {
		width: 80%;
		margin: auto;
	}

	.map {
		display: flex
	}