/*Ubuntu font*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
/*background color and font change*/
body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #D4E7F6;
	height: 100%;
	width: 100%;
}
/*Set font size and center for h1 and h2*/

header section {
	font-size: 28px;
	text-align: center;
}

.nav-link:hover {
	color:gray
}

header nav {
	display: flex;
	justify-content: center;
}

header nav ul {
	display: flex;
	flex-direction: row;
}

header nav ul li {
	list-style: none;
	margin-right: 5px;
}

header nav ul li a {
	color: white;
	text-decoration: none;
	padding-right: 30px;
}

h1 {
	display: flex;
	justify-content: center;
	font-size: 6em;
	color: white;
}

h3 {
	display: flex;
	justify-content: center;
	color: white;

}

.resume {
	display: flex;
	justify-content: center;
	background-color: #a9abaa;
	border-radius: 8px;
    color: white;
    padding: 1em 1.5em;
	width: 100px;
	text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.resume-btn {
	display: flex;
	justify-content: center;
	padding-top: 5em;
}

a {
	text-decoration: none;
	color: #344A6D
}

header nav ul li a:hover {
	color: #303535
}

.wrapper {
	
	width: 100%;
	margin: auto;
}

header {
	height: 140px;
}

.intro {
	
	background: url(images/background/background1.jpg);
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: -8px 0 -8px -8px;
  padding-bottom: 15em;
}

.profile-pic {
	display: flex;
	justify-content: center;
	border-radius: 50%;
	width: 25em;
	padding: 20px;
}

.section-title {
	display: flex;
	justify-content: center;
	font-size: 4em;
	border-bottom: gray;
}

.portfolioTitle {
	display: flex;
	font-size: 3em;
	font-family: 'Sansita Swashed', cursive;
}

.project-title {
	font-size: 1.5em;
}

.tech {
	font-size: 1.5em;
}

.profile {
	display: flex;
	justify-content: center;
}

.social-media-icons {
	display: flex;
	justify-content: center;
	font-size: 4em;
}

#contact {
	padding: 20px;
}

.linkedin {
	padding-left: 50px;
	padding-right: 50px;
}
	

.email-form {
	padding-bottom: 40px;
}

.group {
	display: flex;
	flex-direction: column;
}

.item {
	flex: 1;
	margin: 10px;
}


.group form textarea{
	width: 100%;
}

.group form label {
	display: flex;
	margin-bottom: 5px
}
img {
	width: 100%;	
	height: auto;
}

.links-to-project {
	display: flex;
	justify-content: center;
}

.live-link, .repo-link{
	padding: 20px;
}

#portfolio {
	padding-bottom: 50px;
}

.portfolioTitle {
	display: flex;
	justify-content: center;
}

.profile{
	margin-top: 25px;
}
.map {
	display: flex;
}

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
  }

.mySlides1, .mySlides2, .mySlides3 {
	display: none;
  }

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }

.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
  }

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
.active, .dot:hover {
	background-color: #717171;
  }

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  







/*footer section*/
footer {
	height: 84px;
	padding-top: 20px;
	
	}
footer p {
	text-align: center;
	color: white;
}

@media all and (min-width: 800px) {
	.wrapper {
		width: 80%;
		margin: auto;
	}

	.map {
		display: flex
	}